/* nav{
    display: flex;
    gap: 30px;
    
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .images{
margin :10px;
display: flex;
height: 80px;
}
.pages{
    margin-top: 50px;
    display: flex;
    float: right;
    margin-right: 200px;
  
   
}

.pages a{
    display: flex;
    float: left;
    margin-right: 100px;
}
button{
    
} */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: #000;
  }
  
  .images {
    display: flex;
    align-items: center;
    margin-left: 80px;
  }
  
  .pages {
    display: flex;
    align-items: center;
    gap: 20px;
    
   
  }
  
  .pages1 {
    text-decoration: none;
    color: #ffffff;
    margin-right: 60px;
  }
  
  .pages-button1 {
    border-radius: 30px;
    margin-right: 20px;
  
    border:1px solid #ffff;
    width: 160px;
    cursor: pointer;
    
    padding: 17px 0px;
    background-color: #000000;
  }
  .pages-button2 {
    /* border-radius: 30px;
    margin-right: 20px;
    padding:20px  0px;
    /* background-color: #000000; */
  /*  cursor: pointer;
    
    border:1px solid #ffff;
   width: 170px; */
   border: none;
   padding: 18px;
   border-radius: 40px; 
   width: 150px;
   /* border: 1px solid #ffffff; */
   /* background-color: #0f0f0f; */
  }

  
  .pages button a {
    /* text-decoration: none; */
    color: #fff;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* flex-direction: column-reverse; */
    /* width: 70px; */
  }
  /* .icon{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    color: #fff;
    
  } */
  
  /* Responsive design */
  @media (max-width: 620px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
    .images {
      margin-bottom: 20px;
    }
    .pages {
      flex-direction: column;
      align-items: center;
    }
    .pages button {
      margin-bottom: 10px;
    }
  }
  
  /* Extra small screens */
  @media (max-width: 480px) {
    .pages {
      gap: 10px;
    }
    .pages button {
      padding: 5px 10px;
    }
  }